<meta charset="utf-8">
<title>{{ sitename }}{{#if title}} - {{ title }}{{/if}}</title>
<script src="/vendors/webcomponentsjs/webcomponents-loader.js"></script>
<link rel="import" href="/vendors/polymer/polymer.html">
<link rel="import" href="/components/vegan-header.html">

<script src="https://use.fontawesome.com/ac44d0f306.js"></script>
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:400,700" rel="stylesheet">

<link type="text/css" rel="stylesheet" href="/css/body.css">