<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{{ sitename }}{{#if title}} - {{ title }}{{/if}}</title>

<link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/ac44d0f306.css">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Roboto:400,700" rel="stylesheet">

<link type="text/css" rel="stylesheet" href="/css/body.css">
<link type="text/css" rel="stylesheet" href="/css/common.css">