<link type="text/css" rel="stylesheet" href="/css/header.css">
<header>
  <div class="logo">logo veganguide.me</div>
  <nav class="links">links</nav>
  <nav class="categories">categories</nav>
  <div class="search"><vegan-search mybinding="search"></vegan-search></div>
</header>