<link type="text/css" rel="stylesheet" href="/css/header.css">
<header>
  <div class="logo"><img src="/images/logo.png" /></div>
  <nav class="links">
    <a class="about" href="/about/" >ABOUT</a> |
    <a class="vegan-brands" href="/vegan-brands/" >VEGAN BRANDS</a> |
    <a class="documentaries" href="/documentaries/" >DOCUMENTARIES</a>
  </nav>
  <nav class="categories">
    <a class="apparel" href="/apparel/" ><i class="fa fa-female fa-2x" aria-hidden="true"></i></a>
    <a class="beauty" href="/beauty/" ><i class="fa fa-heart fa-2x" aria-hidden="true"></i></a>
    <a class="personal-care" href="/personal-care/" ><i class="fa fa-bath fa-2x" aria-hidden="true"></i></a>
    <a class="home" href="/home/" ><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
    <a class="eating" href="/eating/" ><i class="fa fa-cutlery fa-2x" aria-hidden="true"></i></a>
    <a class="drinking" href="/drinking/" ><i class="fa fa-glass fa-2x" aria-hidden="true"></i></a>
    <a class="tips" href="/tips/" ><i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i></a>
  </nav>
  <div class="search"><vegan-search></vegan-search></div>
</header>