header {
  display: grid;
  height: 10rem;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
}

header .logo {
  grid-column: 1;
	grid-row: 1 / 3;
}

header .links {
	grid-column: 2;
	grid-row: 1;
}

header .categories {
	grid-column: 3;
	grid-row: 1;
}

header .search {
	grid-column: 2 / 4;
	grid-row: 2;
}