<link rel="import" href="../vendors/polymer/polymer-element.html">
<link rel="import" href="../vendors/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../vendors/polymer/lib/elements/dom-if.html">
<link rel="import" href="vegan-article-item.html">
<link rel="import" href="vegan-styles-common.html">

<dom-module id="vegan-article-list">
  <template>    
    <style include="vegan-styles-common"></style>    
    <style>
      .content {
        padding: var(--vegan-article-list-padding, 30px);
        position: relative;
        max-width: 1240px;
        margin: 0 auto;
      }

      .load-more {
        text-align: center;
        margin-top: 30px;
      }

      .load-more button {
        background-color: #1BAF0F;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        padding: 10px 20px;
        border: 0;
        cursor: pointer;
      }
    </style>   

    <div class="content">
      <slot name="header"></slot>
      <template is="dom-repeat" items="[[ pagedList ]]">
        <vegan-article-item date="[[ item.date ]]" image="[[ item.image ]]" path="[[ item.path ]]" title="[[ item.title ]]">
          [[ item.contents ]]
        </vegan-article-item>
      </template>
      <template is="dom-if" if="[[ shouldDisplayLoadMore ]]">
        <div class="load-more">          
          <button on-click="loadMore">Load More</button>
        </div>
      </template>
    </div>
  </template>
  <script>var VeganArticleList = function (_Polymer$Element) {
  babelHelpers.inherits(VeganArticleList, _Polymer$Element);

  function VeganArticleList() {
    babelHelpers.classCallCheck(this, VeganArticleList);
    return babelHelpers.possibleConstructorReturn(this, (VeganArticleList.__proto__ || Object.getPrototypeOf(VeganArticleList)).apply(this, arguments));
  }

  babelHelpers.createClass(VeganArticleList, [{
    key: 'resetList',
    value: function resetList(list) {
      if (this.pageSize) {
        this.limit = this.upTo(this.pageSize);
      }
    }
  }, {
    key: 'updatePagedList',
    value: function updatePagedList(limit) {
      if (!this.pageSize) {
        this.pageSize = this.limit;
      }

      this.pagedList = this.list.slice(0, this.upTo(limit));
      this.shouldDisplayLoadMore = this.list.length > this.pagedList.length;
    }
  }, {
    key: 'loadMore',
    value: function loadMore() {
      this.limit = this.upTo(this.limit + this.pageSize);
    }
  }, {
    key: 'upTo',
    value: function upTo(val) {
      return Math.min(this.list.length, val);
    }
  }], [{
    key: 'is',
    get: function get() {
      return 'vegan-article-list';
    }
  }, {
    key: 'properties',
    get: function get() {
      return {
        limit: Number,
        list: Array,
        pagedList: Array,
        shouldDisplayLoadMore: Boolean
      };
    }
  }, {
    key: 'observers',
    get: function get() {
      return ['resetList(list)', 'updatePagedList(limit)'];
    }
  }]);
  return VeganArticleList;
}(Polymer.Element);

customElements.define(VeganArticleList.is, VeganArticleList);</script>
</dom-module>