<link rel="import" href="../vendors/polymer/polymer-element.html">
<link rel="import" href="vegan-styles-common.html">

<dom-module id="vegan-main-image">
  <template>    
    <style include="vegan-styles-common"></style>
    <style>
      :host {
        --carousel-height: 378px;
      }

      section.image {
        margin: 0 auto;
        position: relative;
        height: var(--carousel-height);
        overflow: hidden;
        background: #fafafa;
      }

      section.image img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        display: flex;
      }

    </style>

    <section class="image">      
      <img src="[[src]]">
    </section>    
    
  </template>
  <script>var VeganMainImage = function (_Polymer$Element) {
  babelHelpers.inherits(VeganMainImage, _Polymer$Element);

  function VeganMainImage() {
    babelHelpers.classCallCheck(this, VeganMainImage);
    return babelHelpers.possibleConstructorReturn(this, (VeganMainImage.__proto__ || Object.getPrototypeOf(VeganMainImage)).apply(this, arguments));
  }

  babelHelpers.createClass(VeganMainImage, null, [{
    key: 'is',
    get: function get() {
      return 'vegan-main-image';
    }
  }, {
    key: 'properties',
    get: function get() {
      return {
        src: String
      };
    }
  }]);
  return VeganMainImage;
}(Polymer.Element);

customElements.define(VeganMainImage.is, VeganMainImage);</script>
</dom-module>