<!doctype html>
<html>
<head>
  {{> head }}
</head>
<body>
  {{> setup-top-default}}
  <vegan-header></vegan-header>  
  <vegan-carousel></vegan-carousel>
  <vegan-home>
    <p slot="why-vegan">          
Chambray Carles Terry Gibson balls plaid wolf. Disrupt fashion axe 90's quinoa +1 Neutra.
Irony ethnic ennui McSweeney's, semiotics small batch squid direct trade. Readymade salvia Echo Park scenester.
Farm-to-table selvage small batch swag asymmetrical whatever, tattooed American Apparel meh viral wolf tofu trust fund.
    </p>
    <p slot="how-to-shop-vegan">          
Chambray Carles Terry Gibson balls plaid wolf. Disrupt fashion axe 90's quinoa +1 Neutra.
Irony ethnic ennui McSweeney's, semiotics small batch squid direct trade. Readymade salvia Echo Park scenester.
Farm-to-table selvage small batch swag asymmetrical whatever, tattooed American Apparel meh viral wolf tofu trust fund.
    </p>
    {{#if articles }}
      <ul slot="latest-posts">
        {{#each articles }}
          <li><a href="{{ path }}/index.html">{{ title }}</a></li>
        {{/each}}
      </ul>
    {{/if}}  
  </vegan-home> 
  <vegan-footer></vegan-footer>
  {{> setup-bottom}}
</body>
</html>
