<link rel="import" href="../vendors/polymer/polymer-element.html">
<link rel="import" href="vegan-styles-common.html">
<link rel="import" href="libraries/elasticlunr.html">

<dom-module id="vegan-search">
  <template>    
    <link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/ac44d0f306.css">
    <style include="vegan-styles-common"></style>
    <style>
      form {
        position: relative;
      }

      .search-input {
        outline: 0;
        box-sizing: border-box;
        width: 100%;
        border: 2px solid #68EA77;
        border-radius: 5px;
        padding: 12px 12px 12px 50px;
        font-size: 16px;
        color: #333;

        -moz-appearance: none;/* older firefox */
        -webkit-appearance: none; /* safari, chrome */
        appearance: none; /* rest */
      }

      .search-input::-webkit-search-cancel-button {
        display: none;
      }

      .search-icon {
        position: absolute;
        left: 12px;
        color: #757575;
        font-size: 1.5em;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
    <form on-submit="handleFormSubmit">      
      <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
      <input name="search-term" class="search-input" type="search" role="search" autocomplete="off" placeholder="[[placeholder]]" aria-label="[[placeholder]]" value="{{searchQuery}}" on-keyup="handleKeyInput">
    </form>      
  </template>
  <script>
var SEARCH_CONFIGURATION = {
  fields: {
    title: { boost: 2 },
    collection: { boost: 2 },
    contents: { boost: 1 }
  },
  expand: true
};

var VeganSearch = function (_Polymer$Element) {
  babelHelpers.inherits(VeganSearch, _Polymer$Element);
  babelHelpers.createClass(VeganSearch, null, [{
    key: 'is',
    get: function get() {
      return 'vegan-search';
    }
  }, {
    key: 'properties',
    get: function get() {
      return {
        placeholder: String,
        searchQuery: {
          type: String,
          notify: true
        },
        searchResults: {
          type: Object,
          notify: true
        }
      };
    }
  }]);

  function VeganSearch() {
    babelHelpers.classCallCheck(this, VeganSearch);

    var _this = babelHelpers.possibleConstructorReturn(this, (VeganSearch.__proto__ || Object.getPrototypeOf(VeganSearch)).call(this));

    _this.placeholder = 'Find the goodness...';

    _this.setupSearch();
    return _this;
  }

  babelHelpers.createClass(VeganSearch, [{
    key: 'setupSearch',
    value: function setupSearch() {
      var _this2 = this;

      var articlesData = sessionStorage.getItem('articles');

      if (!articlesData) {
        fetch('/data/articles.json').then(function (resp) {
          return resp.json();
        }).then(function (data) {
          _this2.articles = data.result.map(function (article) {
            article.collection = article.collection.filter(function (collection) {
              return collection !== 'articles';
            });
            return article;
          });

          sessionStorage.setItem('articles', JSON.stringify(data));
          console.info('Search: successfully loaded all the articles into session storage.');

          _this2.buildIndex();
        }).catch(function (error) {
          console.err('Search: Error during setup: ' + error);
        });
      } else {
        this.articles = JSON.parse(articlesData).result;
        this.buildIndex();
      }
    }
  }, {
    key: 'buildIndex',
    value: function buildIndex() {
      var _this3 = this;

      this.searchIndex = elasticlunr(function () {
        this.addField('title');
        this.addField('contents');
        this.addField('collection');
        this.setRef('id');
      });

      this.articles.forEach(function (doc, index) {
        return _this3.searchIndex.addDoc(Object.assign({ id: index }, doc));
      });
      console.info('Search: index is ready for searches.');
    }
  }, {
    key: 'handleKeyInput',
    value: function handleKeyInput(e) {
      var value = e.target.value;

      if (value !== this.searchQuery) {
        this.searchQuery = value;

        if (this.searchQuery.length >= 3) {
          this.doSearch();
        } else {
          this.clearSearch();
        }
      }
    }
  }, {
    key: 'doSearch',
    value: function doSearch() {
      var _this4 = this;

      var indexResults = this.searchIndex.search(this.searchQuery.toLowerCase(), SEARCH_CONFIGURATION);
      console.info('Search: found ' + indexResults.length + ' articles.');

      this.set('searchResults.message', (indexResults.length > 0 ? indexResults.length : 'No') + ' articles found.');
      this.set('searchResults.articles', indexResults.map(function (result) {
        var article = _this4.searchIndex.documentStore.getDoc(result.ref);
        article.path = article.path.replace('/index.md', '/').replace('.md', '/');
        return article;
      }));
    }
  }, {
    key: 'clearSearch',
    value: function clearSearch() {
      this.set('searchResults.message', '');
      this.set('searchResults.articles', []);
    }
  }, {
    key: 'handleFormSubmit',
    value: function handleFormSubmit(e) {
      e.preventDefault();
      return false;
    }
  }]);
  return VeganSearch;
}(Polymer.Element);

customElements.define(VeganSearch.is, VeganSearch);</script>
</dom-module>