<link rel="import" href="../vendors/polymer/polymer-element.html">
<link rel="import" href="vegan-styles-common.html">

<dom-module id="vegan-article-item">
  <template>    
    <style include="vegan-styles-common"></style>   
    <style>
      article {
        margin-top: 30px;
        display: flex;
      }

      .media {
        flex: initial;
        margin-right: 30px;
      }

      .media .image {
        line-height: 0;
        overflow: hidden;
        height: 70px;
        width: 250px;
      }

      @media only screen and (max-width : 850px) {
        .media .image {
          width: 200px;
        }
      }

      @media only screen and (max-width : 768px) {
        .media {
          display: none;
        }
      }

      .media .image img {
        height: 70px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        display: flex;
      }

      .media .date {
        background-color: #eee;
        color: #1BAF0F;
        text-align: center;
        font-weight: bold;
        font-family: 'Raleway', sans-serif;   
        padding-bottom: 5px;     
      }

      .media .date .day {
        font-size: 20px;
      }

      .media .date .month-year {
        font-size: 14px;
      }

      .content {

      }

      .content h3 {
        margin-top: 0;
      }

      p {
        max-height: 5em;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        margin-bottom: 0;
      }
    </style>

    <article>
      <div class="media">
        <div class="image">
          <img src="/images/[[image]]" draggable="false"/>
        </div>
        <div class="date">
          <div class="day">[[day]]</div>
          <div class="month-year">[[month]], [[year]]</div>
        </div>
      </div>
      <div class="content">
        <h3><a href="/[[path]]">[[title]]</a></h3>
        <p><slot></slot></p>
      </div>
    </article>
  </template>
  <script>
    function leftPad(number, targetLength) {
      let output = number + '';
      while (output.length < targetLength) {
        output = '0' + output;
      }
      return output;
    }

    class VeganArticleItem extends Polymer.Element {
      static get is() { return 'vegan-article-item' }

      static get properties() {
        return {
          image: String,
          path: String,
          title: String,
          date: String,
          day: {
            type: String,
            computed: 'computeDay(date)'
          },
          month: {
            type: String,
            computed: 'computeMonth(date)'
          },
          year: {
            type: String,
            computed: 'computeYear(date)'
          }
        }
      }

      computeDay(date) {
        return leftPad((new Date(date)).getDate() + 1, 2);
      }

      computeMonth(date) {
        return leftPad((new Date(date)).getMonth() + 1, 2);
      }

      computeYear(date) {
        return (new Date(date)).getFullYear();
      }

    }
    customElements.define(VeganArticleItem.is, VeganArticleItem);    
  </script>
</dom-module>