<link rel="import" href="../vendors/polymer/polymer-element.html">
<link rel="import" href="../vendors/polymer/lib/elements/dom-if.html">
<link rel="import" href="vegan-article-list.html">
<link rel="import" href="vegan-styles-common.html">

<dom-module id="vegan-article">
  <template>    
    <style include="vegan-styles-common"></style>
    <style>
      section.content {
        padding: 30px;
        position: relative;
        max-width: 1240px;
        margin: 0 auto;
      }   

      h1 {
        margin-top: 10px;
      }

      h3.message {
        margin-top: 0;
      }

      vegan-article-list {
        --vegan-article-list-padding: 30px 0;
      }
    </style>

    <section class="content">
      <template is="dom-if" if="[[ category ]]">
        <div><a href="/[[ category ]]/">[[ formattedCategory ]]</a></div>
      </template>
      <h1>[[ title ]]</h1>
      <time>[[ formattedDate ]]</time>
      <slot name="contents"></slot>
      <template is="dom-if" if="[[ category ]]">
        <vegan-article-list limit="3" list="[[ relatedArticles ]]">
          <div slot="header">
            <h3 class="message">More articles in <a href="/[[ category ]]/">[[ formattedCategory ]]</a></h3>
          </div>
        </vegan-article-list>
      </template>
    </section>
    
  </template>
  <script>
    class VeganArticle extends Polymer.Element {
      static get is() { return  'vegan-article' }

      static get properties() {
        return {
          title: String,
          category: String,
          formattedCategory: {
            type: String,
            computed: 'formatCategory(category)'
          },
          date: String,
          formattedDate: {
            type: String,
            computed: 'formatDate(date)'
          },
          relatedArticles: Array
        }
      }

      formatDate(date) {
        const dateComponents = new Date(date).toDateString().split(' ');
        return `${dateComponents[0]}, ${dateComponents[1]} ${dateComponents[2]}, ${dateComponents[3]}`;
      }

      formatCategory(category) {
        return category
          .split('-')
          .map(word => word.charAt(0).toUpperCase() + word.slice(1).toLowerCase())
          .join(' ');
      }
    }
    customElements.define(VeganArticle.is, VeganArticle);
  </script>
</dom-module>