<link rel="import" href="../vendors/polymer/polymer-element.html">

<dom-module id="vegan-home">
  <template>    
    <link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/ac44d0f306.css">
    <link type="text/css" rel="stylesheet" href="../css/common.css">
    <style>
      section {
        max-width: 960px;
        margin: 30px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        font-size: 20px;
        color: #232322;
      }      

      .column {
        flex: 1;
        padding: 20px;
        align-self: stretch;
      }

      h2 {
        margin-top: 15px;
        margin-bottom: 35px;
      }

      h2, .icon {
        text-align: center;
      }

      i.fa {
        color: #88BF30
      }

      i.fa-plus {
        color: white;
      }

      .column ::slotted(ul) {
        list-style-type: none;
        padding-left: 0;
      }

      @media only screen and (max-width : 768px) {
        section {
          flex-wrap: wrap;
        } 

        .column {
          flex: initial;
          width: 100%;
        }

        .column:not(:last-of-type) {
          margin-bottom: 30px;
        }

        .column ::slotted(p), .column ::slotted(ul) {
          max-width: 320px;
          margin: 0 auto 16px;
        }
      }      
    </style>

    <section>      
      <div class="column">
        <div class="icon">
          <i class="fa fa-leaf fa-3x" aria-hidden="true"></i>
        </div>
        <h2>Why vegan</h2>
        <slot name="why-vegan"></slot>
        <div class="icon">
          <a href="#">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x"></i>
            </span>
          </a>
        </div>
      </div>

      <div class="column">
        <div class="icon">
          <i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>
        </div>
        <h2>How to shop vegan</h2>
        <slot name="how-to-shop-vegan"></slot>
        <div class="icon">
          <a href="#">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x"></i>
            </span>
          </a>
        </div>
      </div>

      <div class="column">
        <div class="icon">
          <i class="fa fa-bell fa-3x" aria-hidden="true"></i>
        </div>
        <h2>Latest posts</h2>
        <slot name="latest-posts"></slot>
        <div class="icon">
          <a href="#">
            <span class="fa-stack fa-lg" aria-hidden="true">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-plus fa-stack-1x"></i>
            </span>
          </a>
        </div>
      </div>
    </section>
    
  </template>
  <script>
    class VeganHome extends Polymer.Element {
      static get is() { return  'vegan-home' }
    }
    customElements.define(VeganHome.is, VeganHome);
  </script>
</dom-module>