<link rel="import" href="../vendors/l2t-paper-slider/l2t-paper-slider.html">

<dom-module id="vegan-carousel">
  <template>        
    <style>
      section {        
        margin: 20px auto 30px;
      }

      l2t-paper-slider {
        --paper-slide-height: 382px;        
      }

      paper-slide {
        text-align: center;
      }

      paper-slide img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
      }
    </style>

    <section>     
      <l2t-paper-slider auto-progress slide-duration="3" total-slides="3">
        <paper-slide><img src="/images/banner01.png" draggable="false"/></paper-slide>
        <paper-slide><img src="/images/banner02.png" draggable="false"/></paper-slide>
        <paper-slide><img src="/images/banner03.png" draggable="false"/></paper-slide>
      </l2t-paper-slider>
    </section>
    
  </template>
  <script>
    Polymer({
      is: "vegan-carousel"
    });
  </script>
</dom-module>