<link rel="import" href="../vendors/polymer/polymer-element.html">
<link rel="import" href="vegan-styles-common.html">
<link rel="import" href="libraries/elasticlunr.html">

<dom-module id="vegan-search">
  <template>    
    <link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/ac44d0f306.css" />
    <style include="vegan-styles-common"></style>
    <style>
      form {
        position: relative;
      }

      .search-input {
        outline: 0;
        box-sizing: border-box;
        width: 100%;
        border: 2px solid #68EA77;
        border-radius: 5px;
        padding: 12px 12px 12px 50px;
        font-size: 16px;
        color: #333;

        -moz-appearance: none;/* older firefox */
        -webkit-appearance: none; /* safari, chrome */
        appearance: none; /* rest */
      }

      .search-input::-webkit-search-cancel-button {
        display: none;
      }

      .search-icon {
        position: absolute;
        left: 12px;
        color: #757575;
        font-size: 1.5em;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
    <form on-submit="handleFormSubmit">      
      <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
      <input name="search-term" class="search-input" type="search" role="search" autocomplete="off" placeholder="[[placeholder]]" aria-label="[[placeholder]]" value="{{searchQuery}}" on-keyup="handleKeyInput"/>
    </form>      
  </template>
  <script>  
    const SEARCH_CONFIGURATION = {
      fields: {
        title: { boost: 2 },
        contents: { boost: 1 }
      },
      expand: true
    }; 

    class VeganSearch extends Polymer.Element {
      static get is() { return  'vegan-search' }

      static get properties() {
        return {
          placeholder: String,
          searchQuery: {
            type: String,
            notify: true
          }, 
          searchResults: {
            type: Object,
            notify: true
          }
        }
      }

      constructor() {
        super();
        this.placeholder = 'Find the goodness...';     

        this.setupSearch();            
      }      

      setupSearch() {
        const articlesData = sessionStorage.getItem('articles');

        if (!articlesData) {
          fetch('/data/articles.json')
          .then(resp => resp.json())
          .then(data => {
            this.articles = data.result;
            sessionStorage.setItem('articles', JSON.stringify(data));
            console.info('Search: successfully loaded all the articles into session storage.');

            this.buildIndex();
          })
          .catch(error => {
            console.err(`Search: Error during setup: ${error}`)
          }); 
        }
        else {
          this.articles = JSON.parse(articlesData).result;
          this.buildIndex();
        }
      }
      
      buildIndex() {
        this.searchIndex = elasticlunr(function() {
          this.addField('title');
          this.addField('contents');
          this.setRef('id');
        });

        this.articles.forEach((doc, index) => this.searchIndex.addDoc(Object.assign({ id: index }, doc)));
        console.info('Search: index is ready for searches.');
      }

      handleKeyInput(e) {
        const value = e.target.value;
        
        if (value !== this.searchQuery) {
          this.searchQuery = value;

          if (this.searchQuery.length >= 3) {
            this.doSearch();
          }
          else {
            this.clearSearch();
          }
        }
      }    

      doSearch() {        
        const indexResults = this.searchIndex.search(this.searchQuery.toLowerCase(), SEARCH_CONFIGURATION);
        console.info(`Search: found ${indexResults.length} articles.`);

        this.set('searchResults.message', `${indexResults.length > 0? indexResults.length: 'No'} articles found.`);
        this.set('searchResults.articles', indexResults.map(result => {
          return this.searchIndex.documentStore.getDoc(result.ref);
        }));
      }     

      clearSearch() {
        this.set('searchResults.message', '');
        this.set('searchResults.articles', []);
      }

      handleFormSubmit(e) {
        e.preventDefault();
        return false;
      } 

    }
    customElements.define(VeganSearch.is, VeganSearch);    
  </script>
</dom-module>