<link rel="import" href="../vendors/polymer/polymer-element.html">
<link rel="import" href="vegan-styles-common.html">
<link rel="import" href="libraries/elasticlunr.html">

<dom-module id="vegan-search">
  <template>    
    <link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/ac44d0f306.css" />
    <style include="vegan-styles-common"></style>
    <style>
      form {
        position: relative;
      }

      .search-input {
        outline: 0;
        box-sizing: border-box;
        width: 100%;
        border: 2px solid #68EA77;
        border-radius: 5px;
        padding: 12px 12px 12px 50px;
        font-size: 16px;
        color: #333;

        -moz-appearance: none;/* older firefox */
        -webkit-appearance: none; /* safari, chrome */
        appearance: none; /* rest */
      }

      .search-input::-webkit-search-cancel-button {
        display: none;
      }

      .search-icon {
        position: absolute;
        left: 12px;
        color: #757575;
        font-size: 1.5em;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
    <form on-submit="handleFormSubmit">      
      <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
      <input id="q" name="q" class="search-input" type="search" role="search" autocomplete="off" placeholder="[[placeholder]]" aria-label="[[placeholder]]" on-keyup="handleKeyInput"/>
    </form>      
  </template>
  <script>  
    class VeganSearch extends Polymer.Element {
      static get is() { return  'vegan-search' }

      static get properties() {
        return {
          placeholder: String
        }
      }

      constructor() {
        super();
        this.placeholder = 'Find the goodness...';     

        this.setupSearchResults();            
      }      

      setupSearchResults() {
        const articlesData = sessionStorage.getItem('articles');

        if (!articlesData) {
          fetch('/data/articles.json')
          .then(resp => resp.json())
          .then(data => {
            this.articles = data.result;
            sessionStorage.setItem('articles', JSON.stringify(data));
            console.info('Successfully loaded all the articles into session storage');

            this.buildFullTextSearch();
          })
          .catch(error => {
            console.err(`Error during search setup: ${error}`)
          }); 
        }
        else {
          this.articles = JSON.parse(articlesData).result;
          this.buildFullTextSearch();
        }
      }
      
      buildFullTextSearch() {
        this.searchIndex = elasticlunr(function() {
          this.addField('title');
          this.addField('contents');
          this.setRef('id');
        });

        this.articles.forEach((doc, index) => this.searchIndex.addDoc(Object.assign({ id: index }, doc)));
      }

      handleKeyInput(e) {
        const value = e.target.value;
        
        if (value.length >= 3) {
          this.doSearch(value);
        }

      }    

      handleFormSubmit(e) {
        e.preventDefault();
        return false;
      }

      doSearch(q) {        
        const results = this.searchIndex.search(q);

        console.log(results);
      }

    }
    customElements.define(VeganSearch.is, VeganSearch);    
  </script>
</dom-module>