<link rel="import" href="../vendors/polymer/polymer-element.html">
<link rel="import" href="../vendors/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../vendors/polymer/lib/elements/dom-if.html">
<link rel="import" href="vegan-article-item.html">
<link rel="import" href="vegan-styles-common.html">

<dom-module id="vegan-article-list">
  <template>    
    <style include="vegan-styles-common"></style>    
    <style>
      .content {
        padding: 30px;
        position: relative;
        max-width: 1240px;
        margin: 0 auto;
      }

      .load-more {
        text-align: center;
        margin-top: 30px;
      }

      .load-more button {
        background-color: #1BAF0F;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        padding: 10px 20px;
        border: 0;
      }
    </style>   

    <div class="content">
      <slot name="header"></slot>
      <template is="dom-repeat" items="[[ pagedList ]]">
        <vegan-article-item date="[[ item.date ]]" image="[[ item.image ]]" path="[[ item.path ]]" title="[[ item.title ]]">
          [[ item.contents ]]
        </vegan-article-item>
      </template>
      <template is="dom-if" if="[[ shouldDisplayLoadMore ]]">
        <div class="load-more">
          <button on-click="loadMore">Load More</button>
        </div>
      </template>
    </div>
  </template>
  <script>
    class VeganArticleList extends Polymer.Element {
      static get is() { return 'vegan-article-list' }

      static get properties() {
        return {
          limit: Number,
          list: Array,
          pagedList: Array,
          shouldDisplayLoadMore: Boolean
        };
      }

      static get observers() {
        return [
          'resetList(list)',
          'updatePagedList(limit)'
        ]
      }      

      resetList(list) {
        if (this.pageSize) {
          this.limit = this.upTo(this.pageSize);
        }
      }

      updatePagedList(limit) {
        if (!this.pageSize) {
          this.pageSize = this.limit;
        }

        this.pagedList = this.list.slice(0, this.upTo(limit));
        this.shouldDisplayLoadMore = this.list.length > this.pagedList.length;
      }

      loadMore() {
        this.limit = this.upTo(this.limit + this.pageSize);
      }

      upTo(val) {
        return Math.min(this.list.length, val);
      }

    }
    customElements.define(VeganArticleList.is, VeganArticleList);    
  </script>
</dom-module>