<link rel="import" href="../vendors/l2t-paper-slider/l2t-paper-slider.html">

<dom-module id="vegan-carousel">
  <template>        
    <style>
      :host {
        --carousel-height: 382px;
      }

      section {        
        margin: 0 auto;
        position: relative;
      }

      l2t-paper-slider {
        --paper-slide-height: var(--carousel-height);        
      }

      paper-slide {
        text-align: center;
        background: #D5E993;
      }

      img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        display: flex;
      }

      div.single-image {
        height: var(--carousel-height);
        overflow: hidden;
        display: none;
      }

      @media only screen and (max-width : 768px) {
        section {
          background: #D5E993;
        }

        l2t-paper-slider {
          display: none;
        }

        div.single-image {
          display: block;
        }

        div.single-image img {
          width: 200%;
        }
      }

       @media only screen and (max-width : 560px) {
         div.single-image {
          height: calc(var(--carousel-height) * .75);
        }
       }

       @media only screen and (max-width : 400px) {
         div.single-image {
          height: calc(var(--carousel-height) * .6);
        }
       }

       @media only screen and (max-width : 320px) {
         div.single-image {
          height: calc(var(--carousel-height) * .5);
        }
       }
    </style>

    <section>     
      <l2t-paper-slider auto-progress slide-duration="3" total-slides="3">
        <paper-slide><img src="/images/banner01.jpg" draggable="false"/></paper-slide>
        <paper-slide><img src="/images/banner02.jpg" draggable="false"/></paper-slide>
        <paper-slide><img src="/images/banner03.jpg" draggable="false"/></paper-slide>
      </l2t-paper-slider>
      <div class="single-image">
        <img src="/images/banner01.jpg" draggable="false"/>
      </div>
    </section>
    
  </template>
  <script>
    class VeganCarousel extends Polymer.Element {
      static get is() { return  'vegan-carousel' }
    }
    customElements.define(VeganCarousel.is, VeganCarousel);
  </script>
</dom-module>